/target
/.venv
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.mypy_cache/
.dmypy.json
dmypy.json

# Editor files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Build artifacts
*.so
*.dylib

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Sphinx
docs/_build/
